.card {
	width: 180px;
	height: 280px;
	font-family: 'Kabel';

	.buildingContainer {
		display: flex;
		justify-content: center;
		width: 150px;
		position: absolute;
		margin-left: 15px;
		margin-top: -15px;
		
		img {
			width: 30px;
		};
	};
		
	.cardContainer {
		@extend .box;
		border: 2px solid black;
		margin: 5px;
		padding: 7px;	
		height: 252px;
		.cardHeader {
			@extend .box;
			width: 100%;
			margin-bottom: 10px;

			.caption {
				font-size: 0.75rem;
			};

			.title {
				font-size: 1rem;
				text-align: center;
			};
		};
	
		.cardBody {
			clear: both;
			width: 100%;
			border-bottom: 1px solid black;
			margin-bottom: 10px;

			div:nth-of-type(even) {
				@extend .right;	
			};

			div:nth-of-type(odd) {
				@extend .left;	
			};
		};
		
		.cardFooter {
			width: 100%;
			
			div:nth-of-type(even) {
				@extend .right;	
			};

			div:nth-of-type(odd) {
				@extend .left;	
			};
		};
	};
};

.box {
	display: flex;
	flex-flow: column;
	align-items: center;
	border: 2px solid black;
};

.right {
	float: right;
	font-size: 0.75rem;
};

.left {
	float: left;
	font-size: 0.75rem;
};