.topRow {
    display: flex;

    & > div {
        & > div:first-child {
            order: 1;

            img {
                transform: rotate(180deg);
            };
        };
    };

    & > div:first-child, & > div:last-child {
        width: 88px;
        height: 88px;
    };
};

.rightRow {
    & > div {
        flex-flow: row;
        width: 88px;
        height: 54px;

        & > div:first-child {
            flex-flow: column;
            width: 18px;
            height: 50px;

            img {
                transform: rotate(-90deg);
            };
        };

        & > div:last-child {
            width: 67px;
            height: 50px;
        };
    };
};

.bottomRow {
    display: flex;
    flex-flow: row-reverse;

    & > div:first-child, & > div:last-child {
        width: 88px;
        height: 88px;
    };
};

.leftRow {
    display: flex;
    flex-flow: column-reverse;
    
    & > div {
        flex-flow: row;
        width: 88px;
        height: 54px;

        & > div:first-child {
            flex-flow: column;
            order: 1;
            width: 18px;
            height: 50px;

            img {
                transform: rotate(90deg);
            };
        };

        & > div:last-child {
            width: 67px;
            height: 50px;
        };
    };
};