.historyContainer {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
	overflow-y: scroll;
    
    .header {
        th {
            background-color: black;
            text-align: center;
            color: white;
        }
    };  

    td {
        text-align: center;
        font-size: 1rem;

        &:last-child {
            width: 190px;
        };
    };

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    };
    
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    };
    
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    };
};

