.card {
	width: 180px;
	height: 280px;
	display: flex;
	font-family: 'Kabel';

	.cardContainer {
		@extend .box;
		padding: 0 7px 0 7px;
		border: 2px solid black;
		margin: 5px;		
	
		.cardHeader {
			@extend .box;
			height: 135px;
			margin-bottom: 10px;
			
			.imageContainer {
				@extend .box;
				justify-content: center;
				flex-grow: 1;

				.image {
					width: 70%;
				};
			};
			
			.title {
				font-size: 0.9rem;
				text-align: center;
			};	
		};

		.cardBody {
			clear: both;
			width: 100%;

			div:nth-of-type(even) {
				@extend .right;	
			};

			div:nth-of-type(odd) {
				@extend .left;	
			};
		};
	};
};

.box {
	display: flex;
	flex-flow: column;
	align-items: center;
};

.right {
	float: right;
	font-size: 0.75rem;
};

.left {
	float: left;
	font-size: 0.75rem;
};