.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 10px;
    width: 470px;

    .actionPanel {
        display: flex;
        flex-flow: column;
        align-items: center;

        & > div {
            margin-bottom: 5px;
        };
    };
};

:global {
    .centerButton {
        width: 100px;
        font-size: 10px;
        
        & > span {
            font-size: 1rem;
        };
    };
};