.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem 2rem;

    .input {
        margin-bottom: 1rem
    };

    .button {
        font-size: '1rem'
    };
};
