.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 208px;
    
    .die {
        font-size: 3rem;
    };
};

.diceRollButton {
    width: 100px;
    font-size: 10px;
    
    & > span {
        font-size: 1rem;
    };
}