.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 208px;
    
    .die {
        font-size: 3rem;
    };
};

.diceRollButton {
    composes: centerButton from global;
}