.card {
	width: 180px;
	height: 280px;
	display: flex;
	font-family: 'Kabel';

	.cardContainer {
		@extend .box;
		border: 2px solid black;
		margin: 5px;

		.cardHeader {
			@extend .box;
			height: 135px;
			margin-bottom: 10px;
			
			.imageContainer {
				@extend .box;
				justify-content: center;
				flex-grow: 1;

				.image {
					width: 50%;
				
				};
			}
			
			.title {
				font-size: 0.9rem;
				text-align: center;
			};
		};

		.text {
			font-size: 0.75rem;
			text-align: center;
		};
	};
};

.box {
	display: flex;
	flex-flow: column;
	align-items: center;
};