.container {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    
    .header {
        background-color: black;
    
        th {
            text-align: center;
            color: white;
        }
    };  

    td {
        text-align: center;
        font-size: 1rem;
    };
};