.communityChest {
    @extend .card;
    align-self: flex-start;
};

.chance {
    @extend .card;
    align-self: flex-end;
};

.card {
    width: 90px;
    height: 130px;
    transform: rotate(45deg);
    
    img {
        width: 90%;
    };
};