.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 260px;
    height: 300px;
    margin-bottom: 20px;
    
    .welcomeText {
        margin-bottom: 40px;
        text-align: center;
    };

    .readyText {
        margin-bottom: 0.5rem;
    };
};