.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem 3rem;
    width: 300px;

    .welcomeText {
        margin-bottom: 1rem;
        text-align: center;
    };

    .readyText {
        margin-bottom: 0.5rem;
    };
};